<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lynx</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

  <div class="topnav">
    <a href="/">Hello <%{%>
        <%= username%><%}%>!</a>
    <a href="/users">Info</a>
    <a href="/vouchers">Vouchers</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/sell"><%{%><%= storeName%><%}%></a>
    <a href="/logout">Logout</a>
  </div>
  <div class="topnav">

    
    <a href="/sell/<%{%><%= storeId%><%}%>">Orders Management</a>
    <a href="/current-products/<%{%><%= storeId%><%}%>" class="active">Distribution</a>
    <a href="/new-distributions/<%{%><%= storeId%><%}%>">Import</a>
    <a href="/manage-voucher/<%{%><%= storeId%><%}%>">Vouchers</a>
  </div>
  
  <div class="w3-container">
    <h2 style="color: white;">Current Distributions</h2>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Status</th>
        <th>Id</th>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Add Tag</th>
        <th>View Tag</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i < productData.length; i++) { %>
        <tr>
          <td>
            <%= productData[i].status %>
          </td>
          <td>
            <%= productData[i].productId %>
          </td>
          <td>
            <%= productData[i].productName %>
          </td>
          <td>
            <form action="/change-price" method="post">
              $<%= productData[i].price %> → 
              <input type="hidden" name="productId" value="<%= productData[i].productId %>">
              <input type="hidden" name="storeId" value="<%= productData[i].storeId %>">
              <input type="text" name="price" placeholder="price" style="width: 30%">
              <button type="submit">Request</button>
            </form>
            
          </td>
          <td>
            <form action="/increase-product" method="post">
              <%= productData[i].quantityInStock %> →
              <input type="hidden" name="productId" value="<%= productData[i].productId %>">
              <input type="hidden" name="storeId" value="<%= productData[i].storeId %>">
              <input type="text" name="quantity" placeholder="quantity" style="width: 30%">
              <button type="submit">Request</button>
            </form>
          </td>
          <td>
            <form action="/add-tag" method="post">
              <input type="hidden" name="productId" value="<%= productData[i].productId %>">
              <input type="hidden" name="storeId" value="<%= productData[i].storeId %>">
              <input type="text" name="tag" placeholder="tag" style="width: 35%">
              <button type="submit">Add</button>
            </form>
          </td>
          <td>
            <form action="/view-tag" method="post">
              <input type="hidden" name="productId" value="<%= productData[i].productId %>">
              <input type="hidden" name="storeId" value="<%= productData[i].storeId %>">
              <input type="hidden" name="productName" value="<%= productData[i].productName %>">
              <input type="hidden" name="storeName" value="<%= storeName %>">
              <button type="submit">View</button>
            </form>

        </tr>

    </tbody>

    </tbody>
    <% } %>
  </table>
  </div>
</body>

</html>