<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Distribution</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

  <div class="topnav">
    <a href="/">Hello <%{%>
        <%= username%><%}%>!</a>
    <a href="/users">Info</a>
    <a href="/vouchers">Vouchers</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/sell"><%{%><%= storeName%><%}%></a>
    <a href="/logout">Logout</a>
  </div>
  <div class="topnav">


    <a href="/sell/<%{%><%= storeId%><%}%>">Orders Management</a>
    <a href="/current-products/<%{%><%= storeId%><%}%>">Distribution</a>
    <a href="/new-distributions/<%{%><%= storeId%><%}%>" class="active">Import</a>
    <a href="/manage-voucher/<%{%><%= storeId%><%}%>">Vouchers</a>
  </div>


  <table class="w3-table-all w3-hoverable">
    <thead>
      <tr class="w3-light-grey">
        <th>Id</th>
        <th>Product</th>
        <!-- <th>Type</th> -->
        <th>Request</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i=0; i < disData.length; i++) { %>
        <tr>
          <td>
            <%= disData[i].productId %>
          </td>
          <td>
            <%= disData[i].productName %>
          </td>
          <!-- <td>
            <%= disData[i].type %>
          </td> -->
          <td>
            <form action="/init-distri/<%= storeId %>" method="post">
              <input type="hidden" name="productId" value="<%= disData[i].productId %>">
              <input type="text" name="price" placeholder="price" required>
              <input type="text" name="quantity" placeholder="quantity" required>
              <input type="hidden" name="storeId" value="<%= storeId %>">
              <button type="submit">Import</button>
            </form>
          </td>
        </tr>

    </tbody>

    </tbody>
    <% } %>
  </table>

</body>

</html>