<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

  <div class="topnav">
    <a href="/">Hello <%= username %>!</a>
    <a href="/users" class="active">Info</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/sell">Sells</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="w3-container">
    <h2 style="color: white;">My Profile</h2>

    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Id</th>
          <th>Username</th>
          <th>Date Of Birth</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < dataUser.length; i++) { %>
          <tr>
            <td>
              <%= dataUser[i].id %>
            </td>
            <td>
              <%= dataUser[i].username %>
            </td>
            <td>
              <%= new Date(dataUser[i].dob).toISOString().substr(0,10) %>
            </td>
            <td>
              <%= dataUser[i].email %>
            </td>
            <td>
              <!-- <button type="submit">
                <a href="/users/<%= dataUser[i].username %>" style="text-decoration: none;">Detail</a>
              </button> -->
              <form action="/edit-user/<%= dataUser[i].username %>" method="get">
                <button type="submit">Edit</button>
              </form>
              <!-- <form action="/delete-user" method="post">
                <button type="submit">Delete</button>
                <input type="text" hidden value="<%= dataUser[i].username %>" name="username"/>
              </form> -->
            </td>
          </tr>
          <% } %>
      </tbody>

    </table>
  </div>
</body>

</html>