<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>

  <div class="topnav">
    <a href="/">Hello <%= username %>!</a>
    <a href="/users" class="active">Info</a>
    <a href="/vouchers">Vouchers</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/sell">Sells</a>
    <a href="/logout">Logout</a>
  </div>

  <div class="w3-container">
    <h2 style="color: white;">My Profile</h2>

    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Id</th>
          <th>Username</th>
          <th>Shopping Tier</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <%= dataUser[0].id %>
            </td>
            <td>
              <%= dataUser[0].username %>
            </td>
            <td>
              <%= dataUser[0].tier %>
            </td>
          </tr>
        </tbody>
    </table>
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Date Of Birth</th>
          <th>Email</th>
          <th>Payment Info</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= new Date(dataUser[0].dob).toISOString().substr(0,10) %>
          </td>
          <td>
            <%= dataUser[0].email %>
          </td>
          <td>
            <%= dataUser[0].paymentInfo %>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>City</th>
          <th>District</th>
          <th>Street</th>
          <th>House No</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= dataUser[0].city %>
          </td>
          <td>
            <%= dataUser[0].district %>
          </td>
          <td>
            <%= dataUser[0].street %>
          </td>
          <td>
            <%= dataUser[0].houseNo %>
          </td>
        </tr>
      </tbody>
    </table>
    <form action="/edit-user/<%= dataUser[0].username %>" method="get" style="text-align:center; margin-top:10px; font-size:30px">
      <button type="submit">Edit</button>
    </form>
  </div>
</body>

</html>