<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lynx</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <div class="topnav">
    <a href="/">Hello <%{%>
        <%= username%>
          <%}%>!</a>
    <!-- <a href="/users">Users</a> -->
    <!-- <a href="/upload">Upload</a> -->
    <!-- <a href="/users/<%{%><%= username%><%}%>">Profile</a> -->
    <a href="/users">Info</a>
    <a href="/vouchers" class="active">Vouchers</a>
    <a href="/cart">Cart</a>
    <a href="/orders">Orders</a>
    <a href="/sell">Sells</a>
    <a href="/logout">Logout</a>
    <!-- <div class="search-container">
      <form action="/search/" method="post">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div> -->
  </div>

  <div class="w3-container">
    <h2 style="color: white;">Available Vouchers</h2>
  <div class="w3-container">
    <table class="w3-table-all w3-hoverable">
      <thead>
        <tr class="w3-light-grey">
          <th>Id</th>
          <th>Discount Rate</th>
          <th>Code</th>
          <th>Expiry Date</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i < voucherData.length; i++) { %>
          <tr>
            <td>
              <%= voucherData[i].voucherId %>
            </td>
            <td>
              -<%= voucherData[i].discountRate %>%
            </td>
            <td>
              <%= voucherData[i].code %>
            </td>
            <td>
              <%= voucherData[i].expiryDate %>
            </td>
          </tr>
          <% } %>
      </tbody>

    </table>
  </div>
  </div>
</body>

</html>